body{
    background: url("img/head.jpg") no-repeat center top;
    height: 100vh;
    font-family: 'Russo One', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Comfortaa', cursive;
}
header{
    height: 2400px;
    width: 1200px;
    margin: auto;
    color: #ffffff;
    border: 1px solid red;
}
/*<------ Стили для первой верхней страницы ( промо )-------->*/
.logo {
    display: block;
    padding-top: 20px;
    padding-left: 840px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}
.logo h1{
    display: block;
    margin-left: 70px;
}
.logo1 {
    padding-top: 20px;
    padding-left: 840px;
    float: left;
}
.BM {
    margin-top: 60px;
    margin-left: 750px;
    font-size: 19px;
    font-family: "Russo One";
}
.kyrs22{
    margin-left: 485px;
    font-size: 80px;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
}
.podcherk{
    background: #ffffff;
    width: 490px;
    height: 7px;
    margin-left: 485px;
}
.text1{
    margin-top: 7px;
    width: 490px;
    height: 66px;
    margin-left: 485px;
    text-align: justify;
    font-size: 17px;
    line-height: 19px;
    font-family: 'Russo One', sans-serif;
}
.text2{
    width: 148px;
    height: 106px;
    margin-left: 485px;
    margin-top: 35px;
    float: left;
    line-height: 35px;
}
.text3{
    margin-top: 35px;
    margin-left: 10px;
    width: 148px;
    height: 106px;
    float: left;
}
.text4{
    margin-top: 35px;
    margin-left: 55px;
    width: 148px;
    height: 106px;
    float: left;
    line-height: 35px;
}
.t1{
    color: #ffbb0b;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
}
.t2{
    color: #ffbb0b;
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
}
.t3{
    color: #ffbb0b;
    font-family: 'Russo One', sans-serif;
}
.t4{
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    font-size: 77px;
}
.t5{
    display: block;
    padding-left: 37px;
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    font-size: 29px;
}
.text5{
    margin-top: 200px;
    margin-left: 477px;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
}
.text5 span{
    color: #ffbb0b;
}
.knopka_hed{
    width: 520px;
    height: 40px;
    background: #ffbb0b;
    border-radius: 10px;
    margin-left: 477px;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
}
.knopka_hed a{
    text-decoration: none;
    color: #001e38;
    font-family: 'Russo One', sans-serif;
    font-size: 22px;
    display: block;
    height: 49px;
}
.icon1{
    margin-top: 60px;
    margin-left: 480px;
    float: left;
}
.icon1 span{
    display: block;
    margin-top: 15px;
    font-size: 23px;
    margin-left: -65px;
    font-family: 'Roboto Condensed', sans-serif;
}
.icon2{
    margin-top: 60px;
    margin-left: 930px;
}
.icon2 span{
    display: block;
    margin-top: 7px;
    font-size: 23px;
    margin-left: -65px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*<------ КОНЕЦ СТИЛЕЙ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ ( промо )-------->*/






/*<--------- стили карточек товара на сайте ----------------->*/

.tovar{
    margin-top: 250px;
}
#tovar_z {
    color: #000000;
    font-size: 35px;
    font-family: 'Russo One', sans-serif;
    margin-left: 330px;
}
/*<--------Карточка товаров( общий стиль для всех)----------->*/
.kartochka{
    width: 244px;
    height: 385px;

    float: left;
    margin-top: 45px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}
.tovar_tx1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    font-size: 23px;
    font-weight: bold;
    margin-left: 5px;
}
#tovar111{margin-top: 5px; margin-left: 5px;}
#tovar222{margin-top: 5px; margin-left: 5px;}
#tovar333{margin-top: 5px; margin-left: 5px;}
#tovar444{margin-top: 5px; margin-left: 5px;}
#tovar555{margin-top: 5px; margin-left: 5px;}
#tovar666{margin-top: 5px; margin-left: 5px;}
#tovar777{margin-top: 5px; margin-left: 5px;}
#tovar888{margin-top: 5px; margin-left: 5px;}

.tovar_tx11{
    color: #000000;
    font-size: 14px;
}
.tovar_tx12{
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 5px;
}
.knopka_tovara{
    width: 230px;
    height: 35px;
    margin-left: 7px;
    margin-top: 20px;
    background: #256d9a;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Russo One', sans-serif;
    font-size: 22px;
    padding-top: 12px;
    text-align: center;
}
.tovar_tx122 span{
    text-decoration: line-through red;
}
.tovar_tx122{
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 15px;
}
/*<--------Карточка товаров( общий стиль для всех)----------->*/

#tovar1{ margin-left: 65px;}
#tovar11{  width: 244px;  height: 127px; }
#tovar11 img{ width: 100%; }

#tovar22{  width: 244px;  height: 127px; }
#tovar22 img{ width: 100%; }

#tovar33{  width: 244px;  height: 127px; }
#tovar33 img{ width: 100%; }

#tovar44{  width: 244px;  height: 127px; }
#tovar44 img{ width: 100%; }

#tovar55{  width: 244px;  height: 127px; }
#tovar55 img{ width: 100%; }

#tovar66{  width: 244px;  height: 127px; }
#tovar66 img{ width: 100%; }

#tovar77{  width: 244px;  height: 127px; }
#tovar77 img{ width: 100%; }

#tovar88{  width: 244px;  height: 127px; }
#tovar88 img{ width: 100%; }

#tovar6{ margin-left: 30px;}
#tovar7{ margin-left: 30px;}
#tovar8{ margin-left: 30px;}
/*<------------ стили для банера---------------------->*/
.banner{
    width: 600px;
    height: 280px;
    margin-top: 20px;
    margin-left: 65px;
    float: left;
}
.banner1{
    width: 466px;
    height: 280px;
    background: #28272d;
    float: left;
    margin-top: 20px;
}
.banner1 span{
    display: block;
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
    margin-top: 50px;
}
#banner1{
    font-family: 'Comfortaa', cursive;
    font-size: 19px;
    margin-top: 15px;
}
.ban_kn{
    width: 450px;
    height: 34px;
    margin-top: 15px;
    background: #ffbb0b;
    padding-top: 6px;
    text-align: center;
    border-radius: 5px;

}
.ban_kn a{
    text-decoration: none;
    color: #001E38;
    font-size: 25px;
    display: block;
    width: 450px;
}
.ban_kn a:hover{
    color: #ffffff;
}

/*<------------ стили для банера---------------------->*/



























#tovar2{
    margin-left: 30px;

}
#tovar3{
    margin-left: 30px;

}
#tovar4{
    margin-left: 30px;
}
#tovar5{
    margin-left: 65px;
}




















